.git
.gitignore
.github
.prettierrc
.eslintrc.js
.eslint.json
.swc.cjs.swcrc
.swc.esm.swcrc
.swcrc
.husky
.eslintrc.json

bun.lock
bun.lockb
node_modules
tsconfig.json
CHANGELOG.md
heap.json

example
tests
test
docs
src
.DS_Store
test
tsconfig.cjs.json
tsconfig.dts.json
tsconfig.esm.json
tsconfig.test.json
tsconfig.test.tsbuildinfo

CONTRIBUTING.md
CODE_OF_CONDUCT.md
trace

build.ts
.scannerwork
src
server
