.git
.gitignore
.github
.prettierrc
.eslintrc.js
.swc.cjs.swcrc
.swc.esm.swcrc
.swcrc
.husky

bun.lockb
node_modules
tsconfig.json
CHANGELOG.md

example
tests
test
docs
src
.DS_Store
test
tsconfig.cjs.json
tsconfig.esm.json
tsconfig.test.json

CONTRIBUTING.md
CODE_OF_CONDUCT.md

build.ts