.git
.gitignore
.prettierrc
.cjs.swcrc
.es.swcrc
.swcrc
bun.lockb
.github

node_modules
tsconfig.json
CHANGELOG.md

example
tests
docs
src
.DS_Store
test
CHANGELOG.md
.eslintrc.js
tsconfig.cjs.json
tsconfig.esm.json
