{
  "$schema": "https://json.schemastore.org/swcrc",
  "module": {
    "type": "es6"
  },
  "exclude": ["(.*).(spec|test).(j|t)s$"],
  "jsc": {
    "target": "es2022",
    "parser": {
      "syntax": "typescript"
    },
    "minify": {
      "mangle": true,
      "compress": {
        "hoist_funs": true,
        "reduce_funcs": true
      }
    }
  },
  "minify": true,
  "sourceMaps": false
}
